* {
  box-sizing: border-box;
}

:root {
    --bg: #fafafa;
    --font: "Archivo", sans-serif;
    --font-display: "Archivo Narrow", sans-serif;
    --hotpink: #F67062;
    --orange: #FC5296;
    --gradient: linear-gradient(35deg, var(--orange), var(--hotpink));
}
  
body {
  margin: auto;
  min-height: 100vh;
  background: var(--bg);
  font-family: var(--font);
  background-color: rgb(13, 14, 22);
}
  