.cabecera {
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  
    padding: 0.5rem 2rem;
  
    display: flex;
    justify-content: space-between;
  }
  .cabecera-titulo {
    font-family: var(--font-display);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8rem;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
  }
  .cabecera-num {
    font-family: var(--font-display);
    color: var(--hotpink);
    font-weight: 400;
    font-size: 2rem;
    line-height: 0.9;
  }
  
  .contadores {
    display: flex;
  }
  
  .contador-item {
    margin-right: 2rem;
  }
  